body {
    background-color: gray;
}
#firstDiv {
    width: 100%;
    height: 100%;
    /* border: 5px solid black; */
    justify-content: center;
    display: flex;
}
#hello {
    /* align-items: center; */
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 70%;
    overflow: hidden;
}
#profileImg {
    width: 100%;
    height: 100%;
}
h1 {
    color: black;

}
.white {
    color: white
}
.colorReverse {
    filter: invert(100%);
}
#github {
    background-color: black;
}
#discord {
    background-color: #4761ED;
}

.roundButton {
    border-radius: 18px;
    height: 40px;
    width: 100px;
    
    display: flex;
    justify-content: center;
}
.roundButton img{
    margin-top: 5px;
    margin-bottom: 6px;
    vertical-align: middle;
}
.roundButton span {
    margin-left: 3px;
}
a {
    text-decoration: none;
}